// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.app {
    color: #f5f5f5;
    height: 100vh;
    background: #0f111a;
}
.content-link {
    padding-top: 35vh;
}
.title h1 {
    font-size: 3.5em;
    text-align: center;
    color: #f5f5f5
}
.input {
    background-color: #282d44;
}
.ant-btn-success:active,
.ant-btn-success.active {
    color: #fff!important;
    background-color: #14c78b !important;
    border-color: #14c78b !important;
}

.ant-btn-success:hover,
.ant-btn-success:focus {
    color: #fff !important;
    background-color: #14c78b !important;
    border-color: #14c78b !important;
}

.ant-btn-success {
    color: #fff !important;
    background-color: #14c78b!important;
    border-color: #14c78b !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
}

.ant-input[readonly]:hover {
    border-color: #282d44 !important;
    border-right-width: 1px !important;
}
.ant-input[readonly] {
    color: #a4f3df!important;
    background-color: #282d44!important;
    cursor: not-allowed;
    opacity: 1;
}
